<div class="min-h-screen">
  <div
    class="grid grow grid-cols-1 md:grid-cols-2 h-screen sm:overflow-y-hidden"
  >
    <div
      class="flex content-center w-full h-full min-h-100 bg-violet-100 w-full"
    >
      <div class="py-4 sm:pt-8 lg:min-w-full sm:max-w-lg pl-5 sm:pl-8 my-auto">
        <h1
          class="leading-normal font-bold text-4xl md:text-6xl xl:text-7xl 2xl:text-8xl sm:mb-10 text-violet-500"
          style="line-height: 1.5"
        >
          Build sentences inspired by your favourite books.
        </h1>
      </div>
    </div>
    <div class="pt-4 sm:pt-0 sm:my-auto">
      <span class="font-bold text-slate-600 text-2xl h-1 mb-10 p-4">
        Choose your inspiration
      </span>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 p-4">
        <a
          [routerLink]="['/sentence-builder', 'HP']"
          class="flex justify-center bg-white hover:bg-violet-100 cursor-pointer py-10 pb-10 shadow-xl ring-1 ring-gray-900/5 sm:max-w-lg rounded-lg sm:px-10"
        >
          <p class="font-bold text-slate-600 text-xl">Harry Potter ⚡</p>
        </a>
        <a
          [routerLink]="['/sentence-builder', 'LOTR']"
          class="flex justify-center bg-white hover:bg-violet-100 cursor-pointer px-6 py-10 shadow-xl ring-1 ring-gray-900/5 sm:max-w-lg rounded-lg sm:px-10"
        >
          <p class="font-bold text-slate-600 text-xl">Lord of the Rings 🧙‍♂️</p>
        </a>
      </div>
      <div class="grid grid-rows-12 grid-cols-1 w-full bg-white p-5">
        <span class="font-bold text-slate-600 text-2xl h-1 mb-10 mt-5">
          Sentence History
        </span>
        <div
          class="row-start-2 row-end-5 bg-white p-4 sentenceContainer w-full shadow-xl ring-1 justify-self-center ring-gray-900/5 rounded-lg overflow-y-scroll"
        >
          <div
            class="grid grid-cols-12"
            *ngFor="let sentence of sentenceHistory | async"
          >
            <span class="col-span-1 my-auto flex justify-center">
              {{ sentence.words[0].type === "LOTR" ? "🧙‍♂️" : "⚡" }}</span
            >
            <span
              class="col-span-11 flex flex-wrap p-4 mb-2 w-full shadow-md ring-1 justify-self-center ring-gray-900/5 rounded-lg"
            >
              <span
                class="mb-2 mr-2"
                *ngFor="let word of sentence.words; let i = index"
              >
                <app-word-chip
                  [text]="word.word"
                  [type]="
                    word.partOfSpeech.partOfSpeech === '.'
                      ? 'PUN'
                      : word.partOfSpeech.partOfSpeech
                  "
                ></app-word-chip>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
