<div class="min-h-screen">
  <div class="grid grid-cols-1 md:grid-cols-2 place-items-stretch min-h-full">
    <div class="w-full h-full min-h-100 bg-slate-600">
      <div class="flex justify-center px-6 pt-10 pb-8 sm:max-w-lg sm:px-10">
        <h1 class="flex justify-center leading-normal text-4xl text-violet-300">
          Create sentences inspired by your favourite books
        </h1>
      </div>
    </div>
    <div class="min-h-full">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 p-4">
        <div class="flex justify-center bg-white hover:bg-slate-100 cursor-pointer py-10 pb-10 shadow-xl ring-1 ring-gray-900/5 sm:max-w-lg rounded-lg sm:px-10">
          <a class="font-bold text-slate-600 text-lg" [routerLink]="['/sentence-builder', 'HP']">
            Harry Potter ⚡
          </a>
        </div>
        <div class="flex justify-center bg-white hover:bg-slate-100 cursor-pointer px-6 py-10 shadow-xl ring-1 ring-gray-900/5 sm:max-w-lg rounded-lg sm:px-10">
          <a class="font-bold text-slate-600 text-lg" [routerLink]="['/sentence-builder', 'LOTR']">
            Lord of the Rings 🧙‍♂️
          </a>
        </div>
      </div>
      <div class="grid grid-cols-1 w-full h-full bg-white px-4">
        <span class="font-bold text-slate-600 text-2xl">
          History
        </span>
        <div class="bg-white py-10 px-0 mx-0 w-full shadow-xl ring-1 ring-gray-900/5 rounded-lg">
        </div>
      </div>
    </div>
  </div>
</div>
